body {
  font-family: fantasy, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 4vw;
  text-align: center;
}

.unprepedData {
  display: none;
}

.data > hr {
  clear: both;
  border: 1px solid black;
}

.aSet {
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid black;
}

.row {
  clear: both;
  display: block;
  overflow: auto;
}

.header {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.row > div {
  float: left;
}

.row .neighbourhood, .row .surge {
  width: 45%;
}

.row .neighbourhood {
  text-align: right;
}

.row .surge {
  text-align: center;
}

.row .serviceType {
  float: left;
  margin-left: 15%;
}

.row .time {
  float: right;
  margin-right: 10%;
}

.controls {
  text-align: center;
}
.controls button {
  width: 16vw;
  height: 6vw;
  border-radius: 2vw;
  background-color: white;
  border-color: crimson;
  padding: 0;
  font-weight: bold;
  font-size: 2vw;
}

.axis text {
  font: 12px sans-serif;
}

.axis .tick text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

svg {
  border: 1px solid black;
  margin: 10px 0 0 0;
}

.legend {
  font-size: 17px;
  font-weight: bold;
}

text.targetArea {
  font-size: 16px;
  font-weight: bold;
}