body {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 4vw;
}

.unprepedData {
  display: none;
}

.data > hr {
  clear: both;
  border: 1px solid black;
}

.aSet {
  clear: both;
  padding: 10px;
}

.row > div {
  float: left;
}

.row .neigbourhood, .row .time {
  width: 40%;
}

.row .neigbourhood {
  text-align: right;
}

.row .surge {
  text-align: center;
  width: 20%;
}