body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background: #e1ceb1;
}

.unprepedData {
  display: none;
}

.data > hr {
  clear: both;
  border: 1px solid black;
}

.aSet {
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid black;
}

.row {
  font: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  clear: both;
  display: block;
  overflow: auto;
}

.header {
  font-family: monospace;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.row > div {
  float: left;
}

.row .serviceType {
  float: left;
  margin-left: 15%;
}

.row .time {
  float: right;
  margin-right: 10%;
}

.controls {
  text-align: center;
}

@media (max-width: 600px) {
  .controls button {
    width: 18vw;
    height: 8vw;
    border-radius: 2vw;
    background-color: white;
    border-color: #9e9c9b;
    padding: 0;
    font-weight: bold;
    font-size: 3.5vw;
  }

  .row .neighbourhood {
    text-align: right;
    width: 65%;
  }

  .row .surge {
    text-align: center;
    width: 35%;
  }
}

@media (min-width: 600px) {
  .controls button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    border-color: #9e9c9b;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
  }

  .row .neighbourhood {
    text-align: right;
    width: 50%;
  }

  .row .surge {
    text-align: center;
    width: 50%;
  }

}
.axis text {
  font: 12px sans-serif;
}

.axis .tick text {
  font: 10px sans-serif;
}

.axis .tick line {
  opacity: 0.2;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

svg {
  border: 1px solid black;
  margin: 10px 50px 0 5px;
}

svg:first-of-type{
  margin-top: 20px;
}

.legend {
  font-size: 17px;
  font-weight: bold;
}

text.targetArea {
  font-size: 16px;
  /*font-weight: bold;*/
}

#DateOfInterest {
  margin: 0 auto;
  display: block;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #e1ceb1;
}

#DateOfInterest:hover {
  background-color: #ddb0a0;
}

#ui-datepicker-div {
  font-size: 14px;
}

#loading-data {
  margin-top: 100px;
}

.message {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  background: rgb(234, 128, 128);
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
}

#scrollHelper {
  position: fixed;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background: #ddb0a0;
}

#scrollHelper .wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 20px;
}

#scrollHelper .letter {
  transform: rotate(90deg);
  color: #ffffff;
}